/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}

.main-title{
	text-align:center;
}

.book-library{
	background-color:#ffffff;
	width:100vw;
}

.book{
	width:100%;
	height:500px;
	margin:10px;
	 border-radius: 10px;
     box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.author{
	color:#777777
}

.price{
	background-color:rgb(46, 204, 113);
	color:white;
	text-align:center;
	width:95%;
	margin:auto;
	padding:6px;
	border-radius:5px;
}

.img-center{
	display:flex;
	justify-content:center;
	align-items:center;
}